/* トップページ メインビジュアルから */

/*メインビジュアル*/
.mainvisual{
  height: auto;
}

.mainvisual img{
  float: right;
  width: 90vw;
  height: 80vh;
  object-fit: cover;
}

/*メッセージセクション*/
.message{
  width: 100vw;
  height: auto;
  display: flex;
  padding-top: 20vh;
}

.message li{
  width: 50%;
}

/* リングイメージ */
.ring-img img{
  width: 35vw;
  height: 60vh;
  object-fit: cover;
  margin-left: 5vw;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

/*メッセージ*/
.message .message-txt{
  width: 40%;
  margin: 2vh 0vw 0vh 1vw;
  line-height: 5.5vh;
}

.ceo-name{
  margin-top: 4vh;
  font-family: 'WindSong', cursive;
  font-size: 2rem;
}

/*ニュースセクション*/
.news{
  height: auto;
  margin-top: 30vh;
}

.newslist{
  width: 80%;
  margin: 0 auto;
  padding-top: 3vh;
  border-bottom: 1px solid #5555558e;
  /*ニューススクロールした時*/
  max-height: 35vh;
  overflow-y: auto;
  margin-bottom: 10vh;
}

.newslist-item {
  padding: 3vh 3vw;
  border-top: 1px solid #5555558e;
}

.newslist-item a {
 position: relative;
 display: flex;
}

.newslist-date {
  display: flex;
  margin-right: 5vw;
}

/*お知らせかイベント*/
.news-item { 
  background: #f3e1e1fd;
  border-radius: 5px;
  /* オレンジ部分の幅と高さ */
  width: 7vw;
  height: 3vh;
  text-align: center;
  margin-left: 2vw;
}

/*arrow 矢印*/
.arrow {
  width: 2vw;
  height: .1vh;
  background: #555555;
  right: 0;
  position: absolute;
}

.arrow::after {
  content: "";
  width: .5vw;
  height: .1vh;
  background: #555555;
  display: block;
  transform: rotate(45deg);
  right: 0;
  bottom: 2px;
  position: absolute;
}


/*コースセクション*/
.course{
  height: auto;
  width: 90%;
  margin: 0 auto;
  margin-top: 30vh;
}

.four-courses{
  padding-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.four-courses .flex{
  width: 22%;
  height: 50vh;
  /* border: 1px solid #5555558e; */
  background-color: #fef9f2d8;
  box-shadow: 0px 0px 8px #838383;
}

.up-course{
  height: 55%;
}

.up-course img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10% ;
}

.down-course{
  height: 45%;
  padding: 0vh 2vw;
}

.down-course h2{
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 2vh;
}

.down-course p{
  font-size: .8rem;
}


/* hoverで枠線 */
.flex {
  position: relative;
}
  
.flex::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 0;
  height: 0;
  border: 1px solid transparent;
}
  
.flex::after {
  content: '';
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 0;
  height: 0;
  border: 1px solid transparent;
}

  
.flex:hover::before {
  width: 100%;
  height: 101%;
  border-top-color: #4d566b;
  border-right-color: #4d566b;
  transition: width .25s ease-out, height .25s ease-out .25s;
}

.flex:hover::after {
  width: 100%;
  height: 101%;
  border-bottom-color: #4d566b;
  border-left-color: #4d566b;
  transition: border-color 0s ease-out .5s, width .25s ease-out .5s, height .25s ease-out .75s;
}




/* 会社概要 */
.company{
  height: auto;
  margin: 30vh auto; 
  position: relative;
}

/* 流動する丸 */
.fluid {
  width: 80vh;/*横幅*/
  height: 70vh;/*縦幅*/
  background:#f3e1e1d9;
  animation: fluidrotate 30s ease 0s infinite;/*アニメーション設定*/
  position: absolute;
  top: -15%;
  right: 27%;
  z-index: -10; /* 要素を後ろへ */
}

@keyframes fluidrotate { 
 
	  
  0%, 100% {
      border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
      border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
      border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
      border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
      border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
      border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
      border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
	  
}

.company-txt{
  margin: 1.5vh auto;
  line-height: 5vh;
}

.tel{
  border-bottom: 1px dotted #302c2579;
  width: 10%;
  margin: 0 auto;
}

.contact .contact-txt{
  margin-top: 5vh;
  line-height: 4vh;
}
  
  @media screen and (max-width: 1024px){

      /*メインビジュアル*/
  
  .mainvisual img{
    width: 100vw;
    height: 80vh;
  }

  /*メッセージセクション*/
  .message{
    display: flex;
    flex-direction: column-reverse;
    margin: 0vh auto 0vh;
    padding-top: 10vh;
  }

  .message li{
    width: 100vw;
  }

  /* リングイメージ */
  .ring-img img{
    width: 80vw;
    height: 40vh;
    margin-left: 0vw;
  }

  /*メッセージ*/
  .message .message-txt{
    width: 90%;
    margin: 0 auto 10vh;
    line-height: 5vh;
  }

  .ceo-name{
    font-size: 1.5rem;
  }

  /*ニュースセクション*/
  .news{
    margin-top: 15vh;
  }

  .newslist{
    width: 95%;
    border-bottom: 1px solid #5555558e;
  }

  .newslist-item {
    padding: 2vh 1.5vw;
  }

  .newslist-date {
    flex-direction: column;
    margin: 0vh 4vw;
    text-align: center;
  }

  /*お知らせかイベント*/
  .news-item { 
    /* ピンク部分の幅と高さ */
    width: 15vw;
    font-size: .6rem;
    text-align: center;
    padding-top: .2vh;
    margin-top: 1vh;
  }


  /*arrow 矢印*/
  .arrow {
    display: none;
  }

  /*コースセクション*/
  .course{
    width: 90%;
    margin-top: 20vh;
  }

  .four-courses{
    padding-top: 10vh;
  }

  .four-courses .flex{
    width: 100%;
    margin-bottom: 7vh;
    padding-bottom: 5vh;
  }

  .up-course{
    height: 60%;
  }

  .up-course img{
    padding: 5%;
  }

  .down-course{
    height: 40%;
    padding: 1vh 3vw;
  }

  .down-course h2{
    font-size: .9rem;
  }

  .down-course p{
    font-size: .8rem;
    padding: 2vh 6vw 10vh;
  }

  /* Read Moreボタン */
  .read-more-contact-btn a {
    margin-top: 7vh;
  }

  
  /* 会社概要 */

  /* 流動する丸 */
  .fluid {
    top: -15%;
    right: 10%;
  }

  .tel{
    width: 30%;
  }
  

  /* SNSセクション */
  .sns-content{
    width: 90%;
  }

  .sns-content li{
    padding-left: 0vw;
  }

  /* ボタン全体 */
  .sns-btn{
    font-size: 30px;	
    }

    .sns-content p{
      padding-top: 1vh;
    }

    /* インスタ・ライン少し大きく */
    .sns-btn .fa-instagram,
    .sns-btn .fa-line{
    font-size: 30px;
    }

  /* 各アイコン 区切り線 */
    .sns-content li+li:before {
      top: 70%;
      height: 10vh;
    }

  }