@charset "UTF-8";
/* flex共通 */
/* image共通 */
/* ボタン共通 */
h2 {
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 4vh;
  color: #b99899;
}

p {
  line-height: 5vh;
}

.main-img {
  margin-top: 15vh;
}

.main-img img {
  width: auto;
  height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 70vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15vh;
}

.greeting li {
  width: 50%;
}

.greeting li img {
  width: auto;
  height: 50vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.greeting li:nth-child(2) {
  padding-left: 5vw;
}

.greeting li:nth-child(2) .ceo-name {
  margin-top: 4vh;
  font-family: 'WindSong', cursive;
  font-size: 2rem;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 70vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vh;
}

.intro li {
  width: 50%;
}

.intro li img {
  width: auto;
  height: 50vw;
  -o-object-fit: contain;
     object-fit: contain;
  padding-left: 5vw;
}

.intro li .ceo-name {
  margin-top: 4vh;
  font-family: 'WindSong', cursive;
  font-size: 2rem;
}

.intro li:nth-child(1) {
  padding-right: 4vw;
}

.service {
  margin-top: 10vh;
}

.service .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 90vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service .flex li {
  width: 28%;
  margin: 4vh 2vw 5vh;
}

.service .flex li img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}

.service .flex li h3 {
  font-weight: normal;
  font-size: 1.2rem;
  color: #a5898a;
  margin: 5vh auto 3vh;
}

.service .button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2vh auto -5vh;
  padding: 1em 1em;
  width: 300px;
  color: #9d7f80;
  border: 1px solid #bb9b9de1;
  border-radius: 50vh;
}

.service .button a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #b99899;
  border-right: 3px solid #b99899;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.service .button a:hover {
  -webkit-transition: 1s;
  transition: 1s;
  text-decoration: none;
  background-color: #ddcccde1;
}

.company {
  margin-top: 20vh;
  position: relative;
}

.company p {
  margin: 1.5vh auto;
}

.company .tel {
  border-bottom: 1px dotted #302c2579;
  width: 10%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  p {
    font-size: 0.75rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-top: 4vh;
  }
  .main-img {
    margin-top: 10vh;
  }
  .main-img img {
    width: auto;
    height: 80vh;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .greeting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: 90vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10vh auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .greeting li {
    width: 100%;
  }
  .greeting li img {
    width: auto;
    height: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .greeting li:nth-child(2) {
    padding: 0vh 2vw;
  }
  .greeting li:nth-child(2) .ceo-name {
    font-size: 1.3rem;
  }
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: 90vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 15vh auto;
  }
  .intro li {
    width: 100%;
  }
  .intro li img {
    width: auto;
    height: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
    padding-left: 0vw;
  }
  .intro li .ceo-name {
    font-size: 1.3rem;
  }
  .intro li:nth-child(1) {
    padding: 0vh 2vw;
  }
  .service {
    margin-top: 10vh;
  }
  .service .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: 85vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service .flex li {
    width: 100%;
    margin: 5vh auto;
  }
  .service .flex li img {
    width: 60%;
    height: 60%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .service .flex li h3 {
    font-weight: normal;
    font-size: 1.2rem;
    color: #a5898a;
    margin: 5vh auto 3vh;
  }
  .company {
    margin-top: 10vh;
  }
  .company p {
    margin: 1vh auto;
  }
  .company .tel {
    width: 28%;
  }
}
/*# sourceMappingURL=style.css.map */