@import "mixin";

h2{
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 4vh;
  color: #b99899;
}


p{
  line-height: 5vh;
}


.main-img{
  margin-top: 15vh;

  img{
    @include img(auto, 80vh);
  }
}

.greeting{
  @include flex(70vw);
  margin-top: 15vh;
  
  li{
    width: 50%;

    img{
      @include img(auto,50vw);
    }

    
    &:nth-child(2){
      padding-left: 5vw;

      .ceo-name{
        margin-top: 4vh;
        font-family: 'WindSong', cursive;
        font-size: 2rem;
      }
    }
  }
}

.intro{
  @include flex(70vw);
  margin-top: 5vh;
  
  li{
    width: 50%;

    img{
      @include img(auto,50vw);
      padding-left: 5vw;
    }

    .ceo-name{
      margin-top: 4vh;
      font-family: 'WindSong', cursive;
      font-size: 2rem;
    }
    
    &:nth-child(1){
      padding-right: 4vw;
    }
  }
}


.service{
  margin-top: 10vh;
  .flex{
    @include flex(90vw);

    li{
      width: 28%;
      margin: 4vh 2vw 5vh;

      img{
        @include img(80%,80%);
        border-radius: 50%;
      }

      h3{
        font-weight: normal;
        font-size: 1.2rem;
        color: #a5898a;
        margin: 5vh auto 3vh;
      }

    }

    
  }

  .button a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh auto -5vh;
    padding: 1em 1em;
    width: 300px;
    color: #9d7f80;
    border: 1px solid #bb9b9de1;
    border-radius: 50vh;
  }
  
  .button a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #b99899;
    border-right: 3px solid #b99899;
    transform: rotate(45deg);
  }
  
  .button a:hover {
    transition: 1s;
    text-decoration: none;
    background-color: #ddcccde1;
  }
}

.company{
  margin-top: 20vh;
  position: relative;

  p{
    margin: 1.5vh auto;
  }

  .tel{
    border-bottom: 1px dotted #302c2579;
    width: 10%;
    margin: 0 auto;
  }
  
}


// @include sp


@media screen and (max-width: 1024px){
  p{
    font-size: 0.75rem;
  }

  h2{
    font-size: 1.5rem;
    margin-top: 4vh;
  }
  
  .main-img{
    margin-top: 10vh;
  
    img{
      @include img(auto, 80vh);
      object-fit: cover;
    }
  }
  
  .greeting{
    @include flex(90vw);
    margin: 10vh auto;
    flex-direction: column;
    
    li{
      width: 100%;
  
      img{
        @include img(auto,100vw);
      }
  
      
      &:nth-child(2){
        padding: 0vh 2vw;
  
        .ceo-name{
          font-size: 1.3rem;
        }
      }
    }
  }
  
  .intro{
    @include flex(90vw);
    flex-direction: column-reverse;
    margin: 15vh auto;
    
    li{
      width: 100%;
  
      img{
        @include img(auto,100vw);
        padding-left: 0vw;
      }
  
      .ceo-name{
        font-size: 1.3rem;
      }
      
      &:nth-child(1){
        padding: 0vh 2vw;
      }
    }
  }
  
  
  .service{
    margin-top: 10vh;
    .flex{
      @include flex(85vw);
      flex-direction: column;
  
      li{
        width: 100%;
        margin: 5vh auto;
  
        img{
          @include img(60%,60%);
        }
  
        h3{
          font-weight: normal;
          font-size: 1.2rem;
          color: #a5898a;
          margin: 5vh auto 3vh;
        }
  
      }
  
      
    }
  }
  
  .company{
    margin-top: 10vh;
  
    p{
      margin: 1vh auto;
    }
  
    .tel{
      width: 28%;
    }
    
  }
}

